<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhh.dao.dbOne.UserMapper">
    <!--分页查询用户列表-->
    <select id="listUserByPage" parameterType="com.zhh.params.UserQueryParams" resultType="com.zhh.entity.User">
        select *from user
        <where>
            <if test="userId != null">
                and userId = #{userId}
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
        </where>
    </select>

</mapper>